{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there! I'm Dimah, a programmer and web developer by day, and a gamer/knowledge enthusiast by… well,
          also by day (and sometimes night!). I graduated from Central University in 2023, and since then,
          I've been on a mission to conquer the tech world, one line of code at a time.
        </p>
        <p>
          When I'm not building cool things on the web, I'm probably leveling up in some
          virtual world or diving headfirst into a research paper. I'm a firm believer in
          the power of continuous learning (and the importance of a good gaming session!),
          which is exactly why I created Hustlers University.
        </p>
        <p>
          Think of it as my own little corner of the internet where I get to share all the
          interesting stuff I'm learning – my own research, articles, blog posts, the whole shebang.
          It's a place for anyone who loves to learn and explore new ideas.  And the best part? You
          can join the hustle! If you've got some killer research, a thought-provoking article, or a
          blog post that's just waiting to be read, send it my way!  We're always looking for fresh voices
          to feature on Hustlers University.  So, whether you're a seasoned researcher or just starting out,
          we'd love to hear from you.  Let's connect, share some knowledge, and make Hustlers University the
          go-to spot for curious minds!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
